<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
   <bean id="rule" class="com.taobao.tddl.rule.TddlRule" init-method="init">
      <property name="appRuleFile" value="classpath:virtualnode/tddl-rule.xml"/>
      <property name="appName" value="TDDL_RULE"></property>
   </bean>
   
   <bean id="rule-format" class="com.taobao.tddl.rule.TddlRule" init-method="init">
      <property name="appRuleFile" value="classpath:virtualnode/tddl-rule-format.xml"/>
      <property name="appName" value="TDDL_RULE"></property>
   </bean>
</beans>

